@using Project.Hub.Config.Entities.Common

@model ValueTuple<string, IEnumerable<BaseConfig>>

@{
    var sectionName = Model.Item1;
    var components = Model.Item2;
}

@if (Model.Item2.Any())
{
    @Html.Partial("_SectionHeader", new BaseConfig(sectionName))

    <div class="row">
        <div class="list-panel col-xs-12">

            @Html.Partial("_ListHeader")

            <div class="app-search-result-items list-panel-content col-xs-12">
                @foreach (var component in components.OrderBy(s => s.Name))
                {
                    <a class="list-panel-item col-xs-12" asp-controller="Component" asp-route-id="@component.Name">
                        <div class="col-xs-12 col-sm-3">
                            <span class="glyphicon glyphicon-link"></span>
                            <span>@component.Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="text-light">@component.Description</span>
                        </div>
                    </a>
                }
            </div>

        </div>
    </div>
}