@using Project.Hub.Config.Entities.Common
@using Project.Hub.Config.Entities.v2

@model IEnumerable<CommonWebsite>

@if (Model.Any())
{
    @Html.Partial("_SectionHeader", new BaseConfig("General Links"))

    <div class="row">
        <div class="list-panel col-xs-12">

            @Html.Partial("_ListHeader")

            <div class="app-search-result-items list-panel-content col-xs-12">
                @foreach (var site in Model.OrderBy(s => s.Name))
                {
                    <a class="list-panel-item col-xs-12" href="@site.Url" target="_blank">
                        <div class="col-xs-12 col-sm-3">
                            <span class="glyphicon glyphicon-link"></span>
                            <span>@site.Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="text-light">@site.Description</span>
                        </div>
                    </a>
                }
            </div>

        </div>
    </div>
}
