@using Project.Hub.Config.Entities.Common
@using Project.Hub.Config.Entities.Common.Search

@model SearchResults

<div class="row">

    @if (Model.HasResults)
    {
        <p>
            <span class="badge">@Model.Count</span>
            <span>
                @(Model.Count > 1 ? "results were" : "result was") found for
            </span>
            <span class="label label-default">"@Model.SearchText"</span>
        </p>

        @Html.Partial("_Environments", Model.Results.Environments)
        @Html.Partial("_Components", ("Websites", Model.Results.Websites as IEnumerable<BaseConfig>))
        @Html.Partial("_Components", ("APIs", Model.Results.Apis as IEnumerable<BaseConfig>))
        @Html.Partial("_Components", ("Downloads", Model.Results.Downloads as IEnumerable<BaseConfig>))
        @Html.Partial("_CommonServices", Model.Results.CommonServices)
    }
    else
    {
        <p>No results were found for <span class="label label-default">"@Model.SearchText"</span></p>
    }

</div>
