@using Project.Hub.Config.Entities

@model EnvironmentConfig
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<p class="lead">@Model.Description</p>

@if (Model.Sites != null && Model.Sites.Any())
{
    @Html.Partial("_SectionHeader", new BaseConfig("Sites"))
    @Html.Partial("_LinksPanel", Model.Sites)
}

@if (Model.Downloads != null && Model.Downloads.Any(d => d.Type == DownloadType.Application))
{
    @Html.Partial("_SectionHeader", new BaseConfig("Downloads"))
    @Html.Partial("_DownloadsPanel", Model.Downloads.Where(d => d.Type == DownloadType.Application))
}

@if (Model.Downloads != null && Model.Downloads.Any(d => d.Type == DownloadType.RemoteDesktop))
{
    @Html.Partial("_SectionHeader", new BaseConfig("Remote Connections"))
    <div class="row">
        @foreach (var download in Model.Downloads.Where(d => d.Type == DownloadType.RemoteDesktop))
        {
            @Html.Partial("_DownloadTile", download)
        }
    </div>
}

@if (Model.Services != null && Model.Services.Any())
{
    @Html.Partial("_SectionHeader", new BaseConfig("Services"))
    @Html.Partial("_LinksPanel", Model.Services)
}