@using Project.Hub.Config.Entities
@using Project.Hub.Settings
@model Configuration
@{
    ViewBag.Title = AppSettings.Instance.AppName;
}

@Html.Partial("_SectionHeader", new BaseConfig("Environments", "Select environment which you want to explore."))

<div class="row">
    @foreach (var environment in Model.Environments)
    {
        <div class="col-xs-12 col-sm-4">
            <div class="col-xs-12 tile">
                <h4 class="text-primary tile-header">@environment.Name</h4>
                <p class="tile-content">@environment.Description</p>
                @Html.ActionLink("Details »", "Environment", new { id = @environment.Name }, new { @class = "btn btn-link pull-right" })
            </div>
        </div>
    }
</div>

@Html.Partial("_SectionHeader", new BaseConfig("General Links", "General links to services that not related to environments."))

<div class="row">
    @foreach (var link in Model.SystemLinks)
    {
        @Html.Partial("_LinkTile", link)
    }
</div>