@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options;
@using Project.Hub.Settings;
@using Project.Hub.Utils;

@inject IOptions<AppConfiguration>  AppConfiguration
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html class="@Context.Request.Cookies[Theme.CookieKey]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.paper.css" />
        <link rel="stylesheet" href="~/css/theme-dark.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Hub</a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Main</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Versions" asp-action="Index">Versions</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="SwitchTheme">
                            <span class="glyphicon glyphicon-adjust"></span>
                            <span>Switch Theme</span>
                        </a>
                    </li>
                    <li>
                        <p class="navbar-separator"></p>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Log Out">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year | @AppConfiguration.Value.AppDisplayName</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/common/globalConfig.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script type="text/javascript" src="~/js/common.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
