@using Project.Hub.Config.Util

@model IEnumerable<Project.Hub.Config.Entities.SiteLink>

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="list-panel col-xs-12">
            
            @Html.Partial("_ListHeader")

            <div class="list-panel-content col-xs-12">
                @foreach (var site in Model.OrderBy(s => s.Name))
                {
                    <a class="list-panel-item col-xs-12" href="@site.Url" target="_blank">
                        <div class="col-xs-12 col-sm-3">
                            @if (!site.HasFavicon())
                            {
                                <span class="glyphicon glyphicon-link"></span>
                            }
                            else
                            {
                                <img class="list-panel-item-icon" src="@site.Favicon" onerror="this.src='@site.FaviconFallback'" alt="i">
                            }
                            <span>@site.Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="text-light">@site.Description</span>                            
                        </div>
                    </a>
                }
            </div>

        </div>
    </div>
}
else
{
    <span class="text-center lead">No sites to display.</span>
}
